.locked{
  height:100vh;
  width:100vw;
  overflow: hidden;
  margin: 0;
}
.unlocked{
  overflow-y: scroll;
}
.overlay-container{
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  visibility: hidden;
}

.overlay-container-hide{
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
}
/******************Navigation********************/
.overlay-container .overlay-navigation{
  background-color: white;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  padding-right: 86px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.link-list{
  grid-column: 10;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  width: 536px;
  height: 21px;
  font-family: DIN-Regular;
  text-align: right;
  margin: 10px 0 0 0px;
}
.link-list li{
  display: inline;
}
.link-list li a{
  text-decoration: none;
  width: 39px;
  color: black;
  padding: 0 5px 9px 5px;
  border-bottom: 4px solid transparent;
}
.link-list li a:hover{
  border-bottom: 4px solid #F46F32;
}

.selected-li-a{
  border-bottom: 4px solid #F46F32;
}

/******************^Navigation^********************/




/******/
/******************Boxes********************/
.box-container{
/*  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 300px;*/
  overflow-x: hidden;
}

.box{
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  
}
.img-background{
  width: 100%;
  height: 100%;
}

.text{
  position: absolute;
  color: white;
  left:59px;
  bottom: 50px;
  z-index: 0;
}

.title{
  font-size: 22px;
  font-family: DIN-Bold;
}

.by-line{
  font-size: 12px;
  font-family: DIN-Regular;
}

.overlay{
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.overlay:hover{
  opacity: 0;
}

.work{
  background-color: blue;
}
.profiles{
  background-color: orange;
}

.insights{
  background-color: purple;
}
/******************^Boxes^********************/


/*Media Queries*/
@media screen and (max-width: 2560px) {
  .link-list{
    grid-gap:40px;
  }
  .overlay-container .overlay-navigation{
    height: 55px;
    font-size: 30px;
  }
  .box-container{
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px;
  }
  .title{
    font-size: 30px;
  }
  .by-line{
    font-size: 20px;
    bottom: 40px;
  }
  .box{
    width: 25vw;
    height: 450px;
  }
}

/****Less Then 750px****/
@media screen and (max-width: 750px) {

  .link-list{
    width: 100%;
    padding: 0;
    grid-column: 1;
    text-align: center;
  }
}


@media screen and (max-width: 1440px){
    .box{
      width: 33.33vw;
      height: 350px;
    }
}
@media screen and (max-width: 1028px){
    .box{
      width: 33.33vw;
      height: 300px;
    }
}

@media screen and (max-width: 768px){
  .overlay-container .overlay-navigation{
    padding-right: 45px;
    }
    .box{
      width: 50vw;
    }
  }

@media screen and (max-width: 425px){
  .overlay-container .overlay-navigation{
    grid-template-columns: 1fr;
    padding-right: 0px;
    }
    .box{
      width: 100vw;
    }
  }

@media screen and (max-width: 375px){
  .overlay-container .overlay-navigation{
    grid-template-columns: 1fr;
    padding-right: 0px;
    }
  .box-container{
    grid-template-columns: 100vw;
    grid-auto-rows: 300px;    
    width: 100vw;
  }
  .box{
    width: 100vw;
    height: 300px;
  }
}





@media screen and (max-width: 320px){
  .img-background{
    max-width: 100%;
    min-width: 50%;
    height:100%; 
  }
  .overlay-container .overlay-navigation{
    grid-template-columns: 1fr;
    padding-right: 0px;
  }
    .box-container{
    grid-template-columns: 100vw;
    grid-auto-rows: 300px;    
    width: 100vw;
  }
  .box{
    width: 100%;
    height: 250px;
  }
  .text{
    left: 30px;
    bottom: 20px;
  }
}
