body {
  background-image: url("../img/background-image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% top;
  background-color: black;
}

.logo {
  position: absolute;
  left: 4.90em;
  top: 4.75em;
}
/* Hamburger menu styles */
.hamburger-menu {
    position: relative;
    float: right;
    height: 3em;
    width: 1.7em;
    cursor: pointer;
    right: 2em;
    top: 3em;
}

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s ease;
}
/* styles for hamburger menu when not clicked*/
.top {
  top: 30%;
}

.middle {
  top: 49%;
  background-color: orange;
}
.bottom {
  top: 69%;
}

/* styles for hamburger menu when clicked*/
.hamburger-menu.close .top {
  transform: rotate(45deg);
  top: 49%;
}

.hamburger-menu.close .middle, .hamburger-menu.close .bottom {
  transform: rotate(-45deg);
  top: 49%;
}
/*page content*/

main {
  display: flex;
  
}

.number {
  color: white;
}
