@font-face {
  font-family: DIN-webfont;
  src: url('./fonts/DIN-webfont/d-dincondensed-webfont.woff2');
  src: url('./fonts/DIN-webfont/d-dincondensed-webfont.woff2');

}




body, #slider, .wrap, .slide-content {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.slide1 {
  background-image: url("../img/background-image.png");
  background-color: black;
}
.slide2 {
  background-image: url("../img/img1.jpg");
}
.slide3 {
  background-image: url("../img/img2.jpg");
}

.logo {
  position: relative;
  left: 4.90em;
  top: 4.75em;
  z-index: 1;
}

/* Hamburger menu styles */
.hamburger-menu {
    position: relative;
    float: right;
    height: 3em;
    width: 1.7em;
    cursor: pointer;
    right: 4em;
    top: 3em;
    z-index: 1;
}

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s ease;
}
/* styles for hamburger menu when not clicked*/
.top {
  top: 30%;
}

.middle {
  top: 49%;
  background-color: orange;
}
.bottom {
  top: 69%;
}

/* styles for hamburger menu when clicked*/
.hamburger-menu.close .top {
  transform: rotate(45deg);
  top: 49%;
}

.hamburger-menu.close .middle, .hamburger-menu.close .bottom {
  transform: rotate(-45deg);
  top: 49%;
}
/*page content*/

.slide-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
  justify-content: right;
  right: 5em;
  bottom: 4em;
}

.wrapper {
  position: relative;
  grid-row: 3 / span 1;
  width: 4.375em;
  left: 28em;
}

.number {
  color: white;
  font-size: 4.500em;
  position: relative;
  /*opacity: 0.2;*/
  /*margin-left: 7em;*/
  font-family: DIN-webfont;
}

.arrows {
  color: white;
  height: 1em;
  width: 2em;
  position: absolute;
  top: 8em;
  left: 20%;
}

.fa-angle-right {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.fa-angle-left {
  cursor: pointer;
}


.wrapper-2 {
  grid-row: 4;
  position: relative;
  bottom: 4em;
}

.Brand {
  color: white;
  grid-row: 4;
  font-size: 4.500em;
  font-family: DIN-webfont;
  text-transform: uppercase;
}

.underline{
  border: 2px solid red;
  width: 8em;
  position: absolute;
  right: 0;
  top: 10em;
  border-radius: 4px;
}

.sub-text {
  color: white;
  font-family: DIN-webfont;
  font-size: 1.125em;
  position: absolute;
  top: 10em;
  right: 0;
}
